:root {
  --main-brand-font: "Roboto", sans-serif;
  --sub-brand-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  background-color: var(--white-background-color);
  color: var(--text-color);
  font-family: var(--main-brand-font);
  width: 1440px;
  margin: auto;
}

/**
  |============================
  | BASE STYLE
  |============================
*/

img {
  display: block;
}

p {
  margin: 0;
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.link {
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Title */

.title-first {
  color: var(--white-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.title-second {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 72px;
}

.title-third {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0px;
}

/* Paragraphs */

.description {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/**
  |============================
  | HEADER
  |============================
*/

.header-page {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-address {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
}

/* Navigation */

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 76px;
  color: var(--primary-brand-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo-part {
  color: var(--dark-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border-radius: 2px;
}

/* Contact us (Address) */

.address-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 0;
  gap: 40px;
}

.address-contacts {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-contacts:hover,
.address-contacts:focus {
  color: var(--pressed-state-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | MAIN
  |============================
*/

/* Hero section */

.hero-button {
  display: block;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-family: var(--main-brand-font);
  color: var(--white-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.hero-section {
  max-width: 1440px;
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Features section */

.features-section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 72px) / 4);
  height: 112px;
  gap: 8px;
}

.features-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px 100px;
  background: var(--light-color);
  border-radius: 4px;
}

/* Skills */

.skills-section {
  padding: 120px 0;
  margin-left: auto;
  margin-right: auto;
}

.skills-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.skills-list-items {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Our team */

.team-section {
  padding: 120px 0px;
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 24px;
}

.team-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 32px 0;
  gap: 8px;
}

.team-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white-background-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-icon {
  fill: var(--light-color);
}

/* Customers section */

.customers-section {
  padding: 120px 0;
}

.customer-title {
  line-height: 1.1;
}

.customer-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  color: var(--subtle-text-color);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customer-icon {
  fill: currentColor;
}

.customer-icon:hover,
.customer-icon:focus {
  fill: var(--pressed-state-color);
}

/* Portfolio section */

.portfolio-section {
  padding: 96px 0 120px;
}

.portfolio-button-list {
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  text-align: center;
}

.portfolio-main-button {
  font-family: var(--main-brand-font);
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-main-button:hover,
.portfolio-main-button:focus {
  font-family: var(--main-brand-font);
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-apps-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.apps-list-items {
  width: calc((100% - 48px) / 3);
}

.apps-link {
  display: block;
}

.apps-link:hover,
.apps-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.apps-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer-page {
  background-color: var(--dark-color);
  padding: 100px 0;
  margin-left: auto;
  margin-right: auto;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-text-container {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--primary-brand-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-darkmode {
  color: var(--light-color);
  max-width: 264px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success-color);
}

.footer-social-icon {
  fill: var(--light-color);
  width: 24;
  height: 24;
}
